.jumbotron {
    padding-top: 5rem;
    background-color: #A2D9FF;
}

#project {
    padding-top: 5rem;
    background-color: #A2D9FF;
    text-align: center;
}

#tentangsaya {
    padding-top: 5rem;
}

#kontak {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer {
    height: 2 rem;
    background-color: #A2D9FF;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer span {
    color: rgb(231, 223, 223);
}

.bi {
    height: 10px;
}